<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>

    <add name="ErikDB"
         connectionString="Server=9a602d22-423c-4f42-99e0-a24600dce5e0.sqlserver.sequelizer.com;Database=db9a602d22423c4f4299e0a24600dce5e0;User ID=mlpcsaarwmrezlet;Password=pAkReBAMte62UUvgBkiWTUDE58fqBpgy2WMfpRraa6UNdh4giGPTtucB6MUfvjke;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
